services:
  mongo:
    image: mongo
    container_name: imagebox-db
    ports:
      - "27017:27017"
    volumes:
      - /C/Users/ashit/OneDrive/temp/docker-volumes/DB/imagebox-db:/data/db
    restart: unless-stopped
    networks:
      - imagebox-network

  imagebox-redis:
    image: redis
    container_name: imagebox-redis
    ports:
      - "6380:6379"
    volumes:
      - /C/Users/ashit/OneDrive/temp/docker-volumes/redis/imagebox-redis:/data/db
    restart: unless-stopped
    networks:
      - imagebox-network

  consul:
    image: hashicorp/consul
    container_name: consul
    command: agent -dev -client=0.0.0.0
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - imagebox-network

networks:
  imagebox-network:
    driver: bridge
